/* src/components/Header/Header.css */
.header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
}

@media (max-width: 1024px) {
    .header {
        padding: 0 20px 0 70px;
    }
}

.header-right {
    display: flex;
}

.amplify-menu-content {
    border-color: #fff;
}

.header-avatar {
    width: 34px;
    height: 34px;
    font-size: 0; /* Remove unwanted inline spacing */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
}


.header-avatar img {
    width: 34px;
    height: 34px;
}


.header-logo {
    width: 30px;
    height: 22px;
}

.header-logo img {
    height: auto;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left span {
    margin-left: 11px;
    text-transform: uppercase;
}

.header-search-bar {
    padding: 7px 15px;
}

